html,body{
  height: 100%;
  background: #ededed;
}
*{
  box-sizing: border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing: border-box;
}
a,a:hover{
  text-decoration: none;
  color: #333;
}
/********************头部开始*********************/
.w_header{
  height: 55px;
  margin-bottom: -55px;
  /*position:relative;*/
  position: fixed;
  z-index:999;
  width: 100%;
  background: #222;
  box-shadow:1px 3px 5px #39F;
  opacity:.90;
}
.w_header_top{
  height: 55px;
}
.w_logo{
  width: 220px;
  height: 55px;
  background-image: url(../img/logoo.png);
  background-repeat: no-repeat;
  background-position: center;
  float: left;
}
/*.w_slogan{
  display: inline-block;
  font-size: 30px;
  font-weight: 800;
  margin-top: 30px;
  margin-left: 20px;
}*/
.w_search{
  float: right;
  padding-right: 10px;
  padding-left: 10px;
  height: 80px;
}
.w_search .w_searchbox{
  margin-top: 15px;
  
}
.w_search .w_searchbox>input{
  border: none;
  height: 30px;
  padding: 5px;
  border-radius: 2px;
  font-size: 14px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.w_search .w_searchbox>input:focus{
  outline: none;
}
.w_search .w_searchbox>button{
  border: none;
  height: 30px;
  margin-left: -5px;
  background-color: #DEDBDB;
  width: 60px;
  font-size: 14px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;

}

.w_header_nav{
  /*display: inline-block;*/
  /*font-weight: 800;*/
  margin-top: 20px;
  /*margin-left: 20px;*/
}
.w_header_nav>ul{
  padding: 0px;
  margin: 0px;
}
.w_header_nav>ul>li{
  float: left;
  display: inline;
  /*position:relative;*/
  padding: 17.5px 0px;
}
.w_header_nav>ul>li>a{
  /*margin: 17.5px 0px;*/
  color: #eee;
  font-size:14px;
  /*font-weight:bold;*/
  text-transform:uppercase;
  line-height: 10px;
  height: 10px;
  width: 80px;
  display: inline-block;
  text-align: center;
  font-family:"Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.w_header_nav>ul>li:hover{
  background: #999;
}
.w_header_nav>ul>li>a.active{
  color: #619d21;
}
/********************头部结束*********************/

/********************containner开始*********************/
.w_container{
  min-height: 100%;
  padding: 55px 0px 40px 0px;
}
.w_main_row{
  /*padding-left: 15px;
  padding-right: 15px;*/

}
.w_main_left{
  margin: 20px 0px;
  /*padding: 0px 10px 0px 0px;*/

}
.w_main_right{
  margin: 20px 0px;
  /*padding: 0px 0px 0px 10px;*/

}
/*.w_carousel{
  margin-bottom: 20px;
}*/
.w_carousel .carousel-inner img{
  width: 100%;
  height: 400px;
}
/*博主置顶*/
.contenttop:hover{
  border: 1px #FF5E52 solid;
}
.contenttop>a{
  display: block;
  padding: 0px 15px 15px 20px;
}
.contenttop strong{
    background-color: #FF5E52;
    margin: -1px 0 0 0;
    display: inline-block;
    padding: 4px 15px;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
}
.contenttop .title{
    color: #FF5E52;
    font-size: 20px;
    font-weight: normal;
    margin-top: 14px;
}
.contenttop .overView{
  color: #999;
    margin-bottom: 0;
}
/*公告*/
.sitetip:hover{
  border: 1px #8EC55F solid;
}
.sitetip>a{
  display: block;
  padding: 0px 15px 15px 20px;
}
.sitetip strong{
    background-color: #8EC55F;
    margin: -1px 0 0 0;
    display: inline-block;
    padding: 4px 15px;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
}
.sitetip .title{
    color: #8EC55F;
    font-size: 20px;
    font-weight: normal;
    margin-top: 14px;
}
.sitetip .overView{
  color: #999;
    margin-bottom: 0;
}

.contentList .title{
  font-size: 16px;
  color: #333;
  font-weight:600;
}
.contentList a.title:hover{
  color: #337AB7;
}
.contentList .label{
  margin-right: 10px;
}

.contentList .overView{
  color: #555;
  line-height:1.5;
  color: #5f5f5f;
}
.count{
  margin-right: 10px;
  font-size:12px;
}
.count>i{
  margin-right: 5px;
}
.count>a{
  color: #5f5f5f;
}
.contentleft{
  width:75%;
  float: left;
}
.contentList .contentImage{
  float: right;
}
.contentList .contentImage .row{
  margin: 0px;
}
.contentList .contentImage .row .thumbnail{
  margin: 0px;
  padding: 0px;
}
.contentList .contentImage img{
    width: 160px;
    height: 160px;
}

.labelList{
  padding: 0px;
}
.labelList .label{
  float: left;
  margin: 5px;
  font-size: 14px;
}
.list-unstyled{
  padding-left:0px;
  list-style:none;
  margin-top:0px;
  margin-bottom:10px;
}
.sidebar li{
  border-bottom:1px solid #d8e6f8;
  padding:5px 0px;
}
.sidebar li a{
  font-size:14px;
  color:#000;
}
.sidebar li a:hover{
  color: #337AB7;
}
.shiplink li{
  background: #F3F3F3;
  border-radius: 50%;
    text-align: center;
    border-bottom: none;
}

.contentList .panel-body{
  box-shadow: 0px 8px 18px rgba(0,0,0,0.06);
  transition: all .2s ease-out;
}
.contentList .panel-body:hover{
  box-shadow: 0px 8px 18px rgba(0,0,0,0.15);
  transition: all .2s ease-out;
}

/********************containner结束*********************/
/********************底部开始*********************/
.w_foot{
  height: 40px;

  margin-top: -40px;
}
.w_foot_link{
  height: 110px;
  background: #DDD;
  text-align: center;
  font-family: "微软雅黑";
  padding-top: 10px;
}
.w_foot_copyright{
  height: 40px;
  text-align: center;
  padding-top: 10px;
  background: #414141;
  color:#b2bcc5;
  font-size:13px;
}
.w_foot_copyright>a{
  color:#b2bcc5;
  text-decoration:none;
  font-size:13px;
}

/* totop */
.toTop{position:fixed;bottom:10px;right:20px; z-index:999;display:none; font-size:16px;cursor: pointer;overflow:hidden;visibility:visible; background-color:#fff;border: 1px solid #d9d9d9;color: #9c9c9c;font-size: 16px;width: 38px;height: 38px;line-height: 38px;text-align: center; text-decoration:none;_position:absolute;_top:expression(documentElement.scrollTop + documentElement.clientHeight-this.offsetHeight)}
.toTop:hover{ color:#fff; text-decoration:none; background-color:#999}


/*table {
    border:1px solid #804040;
}
td{
   border:solid 1px #804040;
}*/

/*导航条*/
.w_breadcrumb{
  margin: 20px 15px 0px 15px;
  height: 40px;
  border-bottom: #337ab7 1px solid;
}
.w_navbar_tip{
  float: right;
  color: #999;
  font-size: 12px; font-weight: normal; 
  line-height: 40px; height: 40px;
}

@media only screen and (min-width:100px) and (max-width:768px){
  .w_carousel .carousel-inner img{
    width: 100%;
    height: 200px;
  }
  .w_logo{
      background: url(../img/logo0.png) no-repeat center;
        width: 55px;
  }
  .w_header_nav>ul>li>a{width: 50px;}
}

ul {
    padding: 0;
}
li {
    list-style: none;
}
a:hover,a:active,a:focus {
    text-decoration: none;
}
body {
    background-image: url();
    background-repeat:repeat;
    background-attachment:fixed;
    overflow-x: hidden;
    overflow-y: auto;
}
i.icon,i.fa {
    margin-right: 6px
}
.col, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    padding: 0px 5px;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    height: 50px;
    background: #FFF;
}
header .logo {
    font-size: 20px;
    height: 50px;
    margin: 0;
    font-weight: 400;
    position: relative;
    z-index: 99;
    border-bottom: 1px solid #e8e8e8;
    background: #FFF;
    text-align:center;
}
header .main {
    position: relative;
}
header .nav {
    width: 100%;
    margin-left: 25px;
    background: #FFF;
    margin: 0;
    overflow: hidden;
    transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
 /* Firefox 4 */
    -webkit-transition: all 0.4s ease;
 /* Safari  Chrome */
    -o-transition: all 0.4s ease;
 /* Opera */
    position: absolute;
    top: -300px;
    left: 0;
}
header .showNav {
    top: 50px;
    box-shadow: 0 5px 5px rgba(204,204,204,.15);
    -moz-box-shadow: 0 5px 5px rgba(204,204,204,.15);
}
header .nav li {
    font-size: 16px;
}
header .nav a {
    display: block;
    line-height: 40px;
    font-size: 16px;
    color: #959595;
    padding: 0 25px;
    border-bottom: 1px solid #f5f5f5;
}
header .nav a:hover {
    border-color: #459df5;
    color: #459df5;
}
header .head-btn {
    float: right;
    line-height: 60px;
}
header .head-btn a {
    margin-left: 5px;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #f5f5f5;
    color: #03b8cf;
    border: 1px solid #e5e5e5;
    transition: all .2s;
    -moz-transition: all .2s;
 /* Firefox 4 */
    -webkit-transition: all .2s;
 /* Safari Chrome */
    -o-transition: all .2s;
 /* Opera */
}
header .head-btn a:hover {
    background: #03b8cf;
    color: #FFF;
    border: 1px solid #03b8cf;
}
header .head-btn a>i {
    margin-right: 0px;
    font-size: 15px;
}
header .nav-btn {
    position: fixed;
    border: none;
    background: transparent;
    top: 0;
    left: 10px;
    outline: 0;
    margin-top: 10px;
    z-index: 100
}
header .nav-btn {
    left: inherit;
    right: 10px;
}
header .nav-btn .icon-line {
    display: block;
    margin: 6px 0;
    width: 25px;
    height: 2px;
    background: #999;
    cursor: pointer;
    transition: all .4s ease;
    -moz-transition: all .4s ease;
 /* Firefox 4 */
    -webkit-transition: all .4s ease;
 /* Safari  Chrome */
    -o-transition: all .4s ease;
 /* Opera */
}
header .nav-btn .middle {
    margin: 0 auto;
}
header .animated2 .top {
    transform: translateY(8px) rotateZ(45deg);
    -ms-transform: translateY(8px) rotateZ(45deg);
   /* IE 9 */
    -moz-transform: translateY(8px) rotateZ(45deg);
   /* Firefox */
    -webkit-transform: translateY(8px) rotateZ(45deg);
 /* Safari 鍜� Chrome */
    -o-transform: translateY(8px) rotateZ(45deg);
   /* Opera */
}
header .animated2 .middle {
    width: 0;
}
header .animated2 .bottom {
    transform: translateY(-8px) rotateZ(-45deg);
    -ms-transform: translateY(-8px) rotateZ(-45deg);
   /* IE 9 */
    -moz-transform: translateY(-8px) rotateZ(-45deg);
   /* Firefox */
    -webkit-transform: translateY(-8px) rotateZ(-45deg);
 /* Safari Chrome */
    -o-transform: translateY(-8px) rotateZ(-45deg);
   /* Opera */
}
.left-bar {
    position: fixed;
    top: 50px;
    left: -240px;
    width: 200px;
    max-width: 100%;
    height: 100%;
    background: #353535;
    z-index: 12;
    transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
 /* Firefox 4 */
    -webkit-transition: all 0.4s ease;
 /* Safari 鍜� Chrome */
    -o-transition: all 0.4s ease;
 /* Opera */
    transform: translateZ(0);
    -ms-transform: translateZ(0);
   /* IE 9 */
    -moz-transform: translateZ(0);
   /* Firefox */
    -webkit-transform: translateZ(0);
 /* Safari 鍜� Chrome */
    -o-transform: translateZ(0);
   /* Opera */
}
.left-bar .header {
    padding: 0px 15px;
    border-bottom: 1px solid #464646;
}
.left-bar .header h2 {
    font-size: 17px;
    line-height: 40px;
    max-width: 100%;
    overflow: hidden;
    margin: 0;
    font-weight: 400;
    display: block;
    color: #ccc;
}
.left-bar .menu {
    height: 450px;
    margin-bottom: 15px;
    border-bottom: 1px solid #424242
}
.left-bar .menu ul li a {
    display: block;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    color: #777;
    padding-left: 38px;
}
.scrollcontent {
    width: 100%;
    top: 0;
    left: 0;
    padding-right: 4px;
    padding-top: 5px
}
.left-bar .menu ul li a:hover {
    background: #f5f5f5
}
.left-bar .menu ul li i.fa {
    width: 15px;
    text-align: center;
    margin-right: 20px
}
.left-bar .tree li.open > ul::-webkit-scrollbar {
    width: 3px;
    margin-right: 2px
}
.menu-about p {
    font-size: 12px;
    color: #ccc;
    text-align: center;
}
#content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
#content > .Off-left-menu {
    display: none;
}
#content > div.center-main {
    margin: 0 auto;
}
.sousuo {
    padding: 35px 0;
}
.search {
    position: relative;
    width: 100%;
    margin: 0 auto;
}
.search-box {
    height: 50px;
  /*box-shadow: 0px 0px 2px 0px #ccc;*/
    border-radius: 10px;
    overflow: hidden;
    display: -webkit-flex;
 /* Safari */
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #e6e6e6
}
.search-engine-name {
    width: 69px;
    height: 50px;
    background: #16C0F8;
    border: none;
    color: #fff;
    font-weight: bold;
    outline: none;
}
.search-input {
    box-sizing: border-box;
    flex: 1;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    color: #999;
    border: none;
    outline: none;
    padding-left: 6px;
}
input::-webkit-input-placeholder {
    font-size: 12px;
    letter-spacing: 1px;
    color: #ccc;
}
.search-btn {
    width: 80px;
    height: 50px;
    background: #16C0F8;
    border: none;
    color: #fff;
    font-weight: bold;
    outline: none;
}
.search-engine {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: #FFF;
    padding: 15px 0 0 15px;
    border-radius: 5px;
    box-shadow: 0px 5px 20px 0px #d8d7d7;
    transition: all 0.3s;
    display: none;
    z-index: 999
}
.search-engine-head {
    overflow: hidden;
    margin-bottom: 10px;
    padding-right: 15px;
}
.search-engine-tit {
    float: left;
    margin: 0;
    font-size: 14px;
    color: #999;
}
.search-engine ul::before {
    content: '';
    width: 0px;
    height: 0px;
    position: absolute;
    top: -15px;
    border-top: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    border-left: 8px solid transparent;
}
.search-engine-list::after {
    content: '';
    width: 70px;
    height: 18px;
    position: absolute;
    top: -17px;
    left: 1px;
}
.search-engine-list li {
    float: left;
    width: 30%;
    line-height: 30px;
    font-size: 14px;
    padding: 5px 10px 5px 10px;
    margin: 0 10px 10px 0;
    background: #f9f9f9;
    color: #999;
    cursor: pointer
}
.search-engine-list li img {
    width: 25px;
    height: 25px;
    border-radius: 15px;
    float: left;
    margin-right: 5px;
    margin-top: 2.5px;
}
#content .content-box {
    padding-top: 51px
}
.content-box {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}
.item {
    width: 100%;
}
.item > .container-fluid {
    padding-top: 0;
    margin-top: 0;
}
.item > .container-fluid .row {
    padding: 10px 5px;
}
.item-tit > strong {
    color: #999;
    font-size: 18px;
    font-weight: 400;
    display: block;
    margin-bottom: 10px;
    padding-left: 5px;
}
.item-tit > strong > i {
    margin-right: 5px;
    font-size: 18px;
}
.card-link {
    display: block;
    padding: 10px 10px;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
    background: #fff;
    transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
 /* Firefox 4 */
    -webkit-transition: all 0.2s ease-out;
 /* Safari Chrome */
    -o-transition: all 0.2s ease-out;
 /* Opera */
}
.card-link:hover {
    transform: translateY(-5px);
    -ms-transform: translateY(-5px);
   /* IE 9 */
    -moz-transform: translateY(-5px);
   /* Firefox */
    -webkit-transform: translateY(-5px);
 /* Safari  Chrome */
    -o-transform: translateY(-5px);
   /* Opera */
    box-shadow: 4px 4px 10px rgba(204, 204, 204, 0.5);
    -moz-box-shadow: 4px 4px 10px rgba(204, 204, 204, 0.5);
 /* Firefox */
}
.card-tit {
    height: 20px;
    font-size: 14px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}
.card-tit img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 5px;
}
.card-desc {
    color: gray;
    font-size: 12px;
    padding-top: 10px;
    height: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.content-box .list-box {
    background: #FFF;
    padding: 20px 10px 0px 10px;
    margin: 0;
}
#get-top {
    width: 40px;
    height: 40px;
    background: #03b8cf;
    color: #FFF;
    position: fixed;
    right: 15px;
    bottom: 55px;
    line-height: 30px;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    display: none;
    z-index: 100;
}
#get-top i {
    margin: 0;
    font-size: 20px;
}
.footer {
    padding: 15px 20px 10px 20px;
    border-top: 1px solid #d0d0d0;
    background-color: #e8e8e8;
    text-align: center;
    font-size: 14px;
    color: #5d5d5d;
}
@media (min-width: 768px) {
    .col, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        padding: 0 10px
    }
    #content .main {
        padding-top: 51px;
    }
    .sousuo {
        padding: 10px 0 50px 0;
        margin-top: 0;
    }
    .sousuo-form {
        width: 100%;
        margin: 0 auto;
    }
    #input {
        outline: none;
        padding: 0 10px;
        height: 46px;
        line-height: 46px;
        border: 1px solid #ccc;
        border-left: none;
        display: block;
        padding-left: 90px;
    }
    .link-box {
        width: 12.5%;
        float: left
    }
    .item-tit > strong {
        padding: 5px 0 0 10px;
        margin-bottom: 10px;
    }
    .get-home {
        margin: 0;
        margin-top: 20px;
    }
    .footer {
        margin-top: 20px;
    }
}
@media (min-width: 992px) {
    header {
        height: 60px;
        border-bottom: 1px solid #e8e8e8;
    }
    header .main {
        padding: 0 22px;
    }
    header .logo {
        float: left;
        font-size: 22px;
        margin: 0;
        font-weight: 400;
        border: none;
    }
    header .logo a {
        display: block;
        line-height: 50px;
        color: #484848;
        font-weight: 400;
    }
    header .logo img {
        width: 30px;
        vertical-align: -10px;
    }
    header .nav {
        float: left;
        margin-left: 25px;
        padding-top: 0px;
        height: 100%;
        display: block;
        overflow: hidden;
        position: static;
        width: auto;
        box-shadow: none;
    }
    header .nav li {
        float: left;
        font-size: 16px;
    }
    header .nav a {
        display: block;
        line-height: 59px;
        color: #959595;
        padding: 0 18px;
        border-bottom: 1px solid #e8e8e8;
    }
    header .nav a:hover {
        border-color: #459df5;
        color: #459df5;
    }
    .left-bar {
        height: 100%;
        background: #FFF;
        top: 60px;
        left: 0;
        z-index: 1;
    }
    .left-bar .header {
        padding: 11px 0px;
        border-bottom: none;
        margin: 0 25px;
        padding-top: 15px;
    }
    .left-bar .header h2 {
        color: #28b779;
        font-size: 16px;
        font-weight: bold;
        line-height: inherit;
        border-left: 3px solid #28b779;
        padding-left: 10px;
    }
    .left-bar .menu {
        height: 600px;
        border-top: 1px solid #f2f2f2;
        border-bottom: 1px solid #f2f2f2
    }
    .left-bar .tree-menu {
        border-bottom: 1px solid #e8e8e8;
    }
    .left-bar .tree li.open > ul {
        height: 281px;
        background: #f5f5f5;
    }
    .tree-menu li li a {
        color: #797979;
        font-size: 14px;
    }
    .search {
        width: 650px;
    }
    .search-engine {
        width: 650px;
    }
    .search-engine-list li {
        width: 112px;
        margin: 0 15px 15px 0;
    }
    #content .main {
        margin-left: 200px;
        padding-top: 70px
    }
    .content-box {
        padding: 0 10px;
        padding-top: 61px
    }
    .nav-item .container-fluid {
        padding: 20px 20px 10px 20px;
    }
    .item > .container-fluid .row {
        padding: 0;
    }
    .card-box .col-md-3 {
        padding: 0 7.5px;
    }
    .card-link {
        margin-bottom: 15px;
    }
    .main .list-box .menu-list {
        margin: 0px 10px 20px 10px;
    }
    .nav-tabs > li > a {
        padding: 4px 15px;
    }
    .footer {
        margin-top: 30px;
    }
}
@media (min-width: 1200px) {
    header .nav a {
        padding: 0 25px;
    }
    .content-box {
        padding: 0 20px;
    }
    .sousuo-form {
        width: 60%
    }
    .item > .container-fluid {
        padding: 0;
        padding-top: 91px;
        margin-top: -65px;
    }
}
@media (min-width: 1700px) {
    .content-box {
        max-width: 1400px;
    }
    .col-md-3 {
        width: 20%;
    }
}
