build:intrinsic_avx2 --copt=-mavx --copt=-mavx2 --copt=-mfma --copt=-DUSE_AVX2
build:intrinsic_avx512 --copt=-mavx512vl
build:intrinsic_avx512 --copt=-mavx512bw
build:intrinsic_avx512 --copt=-mavx512dq
build:intrinsic_avx512 --copt=-mavx512ifma
build:intrinsic_avx512 --copt=-mavx512vbmi
build:intrinsic_avx512 --copt=-mavx512f
build:intrinsic_avx512 --copt=-mavx512cd
build:crosstool_host --define=target_os=linux
build:crosstool_host --define=target_cpu=x86

build:grpc --define=tts_use_grpc=true
build:platform --define=use_ubuntu16=true
build:tob --define=tts_use_license=true

build:cns --crosstool_top=@arm64-v8a-linaro-linux-gnu
build:cns --cpu=arm64-v8a --compiler=gcc-6.3.1
build:cns --host_crosstool_top=@bazel_tools//tools/cpp:toolchain
build:cns --define=platform=linux_arm64-v8a
build:cns --copt=-DFOR_PORTABLE --copt=-DEMBEDDED_LINUX --copt=-DFOR_CNS

common:tts_backend_avx2-sse4-eigen --define=tts_use_avx2=true --define=tts_use_sse4=true

test --test_env=HEAPCHECK=normal
test --test_env=PPROF_PATH=third_party/perftools/bin/pprof
test --config=host_avx2

build --experimental_strict_action_env
build --disk_cache=~/.cache/bazel_disk_cache
build --define grpc_no_ares=true
build -c opt

# CrossToolChain_Intrinsic_Backend
common:host_avx2 --config=crosstool_host --config=intrinsic_avx2 --config=tts_backend_avx2-sse4-eigen --config=platform
common:host_avx512 --config=host_avx2 --config=tts_backend_avx2-sse4-eigen --config=intrinsic_avx512
