portable/resource/
.Building.lock
.blade.test.stamp
.bladeout/
.cproject
.project
.pydevproject
.sconsign.dblite
.settings/
blade-bin
test_detail.xml
.release/
bazel-bin
bazel-genfiles
bazel-out
bazel-testlogs
bazel-neural-tts
wav/
htt_wav/
/data
*.sw?
production/config/portable/portable_resource.proto
HOW_TO
tools/parse_release_resource.py
