#c {
	width: 1000px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-color: #FFF;
}
#m {
	margin: 0px;
	padding: 0px;
	height: 62px;
	width: 1000px;
	background-color: #ACA577;
}
#service {
	float: left;
	height: 223px;
	width: 202px;
	margin: 0px;
	padding: 0px;
	border-bottom-width: 0px;
}

#foot {
	height: 139px;
	width: 1000px;
}
#foot_bg {
	height: 38px;
	width: 1000px;
	background-image: url(images/footer_bg.gif);
	background-repeat: repeat-x;
}
#foot_logo {
	float: left;
	height: 101px;
	width: 224px;
}
#h {
	height:auto;
	width:auto;
	float:left;
	padding-top:12px;
	padding-left: 50px;
	font-size: 14px;
}


#logo {
	margin: 0px;
	padding: 0px;
	height: 62px;
	width: 200px;
}
#muen {
	height: 36px;
	width: 1000px;
	background-color: #534640;
}
#muen ul {
	text-decoration: none;
	margin-top: 12px;
}
#muen li {
	display: block;
	list-style-type: none;
	float: left;
	margin-right: 12px;
}
#right #service #service1 {
	background-image: url(images/service_02.gif);
	width: 202px;
	border-top-width: 0px;
	background-repeat: repeat-y;
}

#message_01 {
	font-family: "黑体", "宋体";
	color: #000;
	height: 28px;
	width: 159px;
	margin-left: 20px;
	padding-top: 12px;
	padding-left: 80px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
}

#muen ul li a{
	text-decoration: none;
	color: #FFF;
	padding-right: 30px;
	font-family: "黑体", "宋体";
	font-size: 16px;
	
}
#muen ul li a:hover{
	color:#C6C
}

#photo {
	margin: 0px;
	padding: 0px;
	float: left;
	height: 245px;
	width: 741px;
}
#message {
	float: left;
	height: 245;
	width: 259px;
}
#message_foot {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #C60;
	text-align: right;
	width: 239px;
	height: 35px;
	margin-left: 20px;
}
#c #message #message_foot a {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}


#left {
	width: 205px;
	float: left;
}
#ab_02 {
	margin: 0px;
	padding: 0px;
	float: left;
	height: 223px;
	width: 438px;
}
#left_01 {
	height: 425px;
	width: 205px;
	background-image: url(images/left_01_02.gif);
	background-repeat: repeat;
}
#c #left #left_01 ul {
	color: #333;
}
#c #left #left_01 ul li {
	font-size: 9px;
	color: #666;
	display: block;
	margin-top: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
	list-style-type: none;
	text-decoration: none;
	width: 150px;
}
#left_foot {
	text-align: center;
	width: 205px;
}
#left_01 #left_foot a img{
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
#left #left_01 ul li a {
	font-size: 16px;
	color: #666;
	text-decoration: none;
}

#call {
	height: 256px;
	width: 205px;
}
#right {
	margin: 0px;
	padding: 0px;
	width: 795px;
	float: left;
}
#ab_01 {
	margin: 0px;
	padding: 0px;
	float: left;
	height: 223px;
	width: 357px;
}
#ab_04 {
	margin: 0px;
	padding: 0px;
	float: left;
	height: 202px;
	width: 795px;
}
#ab_04s {
	background-image: url(images/ad_03_03.gif);
	background-repeat: no-repeat;
	margin-top: 10px;
	margin-left: 10px;
	padding-left: 20px;
}
#ab_04m {
	margin-top: 10px;
	margin-left: 10px;
	width: 143px;
	float: left;
	background-image: url(images/ad_03_06.gif);
	background-repeat: no-repeat;
	padding-top: 100px;
	text-align: center;
}
#service_01 {
	padding-left: 60px;
	background-image: url(images/service_03.gif);
	background-repeat: no-repeat;
	font-size: 24px;
	color: #000;
	margin-left: 10px;
	padding-top: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
	margin-right: 10px;
}
#se{
}
#right #service ul li {
	font-size: 14px;
	color: #666;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666;
	list-style-type: none;
	display: block;
	width: 100px;
}
#ab_04j {
	float: left;
	width: 148px;
	margin-top: 10px;
	background-image: url(images/ad_03_07.gif);
	background-repeat: no-repeat;
	padding-top: 100px;
	text-align: center;
}
#ab_04q {
	float: left;
	width: 155px;
	margin-top: 10px;
	background-image: url(images/ad_03_08.gif);
	background-repeat: no-repeat;
	padding-top: 100px;
	text-align: center;
}
#ab_04w {
	float: left;
	width: 147px;
	margin-top: 10px;
	background-image: url(images/ad_03_09.gif);
	background-repeat: no-repeat;
	padding-top: 100px;
	text-align: center;
}
#ab_04e {
	float: left;
	width: 174px;
	margin-top: 10px;
	background-image: url(images/ad_03_10.gif);
	padding-top: 100px;
	background-repeat: no-repeat;
	text-align: center;
}

#ad_03 {
	height: 246px;
	width: 795px;
	float: left;
	text-align: center;
}
#ab05 {
	float: left;
	height: 223px;
	width: 593px;
}
body{
	margin:0px;
}
#massages_text {
	font-size: 12px;
	line-height: 20px;
	color: #666;
	height: 163px;
	margin-left: 20px;
	overflow: hidden;
	width: 239px;
}
#ab_03a {
	background-image: url(images/ad_03_03.gif);
	margin-top: 10px;
	margin-left: 10px;
	background-repeat: no-repeat;
	font-size: 16px;
	color: #000;
	float: left;
	padding-left: 20px;
	width: 750px;
}
#ad_03b {
	background-image: url(images/ad_04_03.gif);
	background-repeat: no-repeat;
	text-align: center;
	width: 106px;
	margin-top: 20px;
	margin-left: 40px;
	padding-top: 145px;
	float: left;
}
#ad_03d {
	background-image: url(images/ad_04_07.gif);
	background-repeat: no-repeat;
	float: left;
	margin-top: 20px;
	margin-left: 40px;
	width: 107px;
	padding-top: 145px;
}
#ad_03e {
	float: left;
	margin-top: 20px;
	margin-left: 40px;
	padding-top: 145px;
	background-image: url(images/ad_04_09.gif);
	background-repeat: no-repeat;
	width: 106px;
}
#ad_03f {
	background-image: url(images/ad_04_11.gif);
	background-repeat: no-repeat;
	float: left;
	width: 106px;
	margin-top: 20px;
	margin-left: 40px;
	padding-top: 145px;
}


#ad_03c {
	background-image: url(images/ad_04_05.gif);
	background-repeat: no-repeat;
	padding-top: 145px;
	float: left;
	width: 106px;
	margin-left: 40px;
	margin-top: 20px;
}
