@charset "utf-8";
*{margin:0px auto; padding:0px; }
html,body {
	margin:0px auto;
	padding:0px;
	font-size: 12px;
	margin:0px auto; padding:0px;
}
#mid03 {
	height: auto;
	width: 469px;
	padding-top: 10px;
}
#mid04 {
	height: auto;
	width: 469px;
	margin-top: 10px;
}


contain {
	height: auto;
	width: 964px;
	margin:0px auto; padding:0px;
}
#top {
	background-color: #83cb5d;
	background-image: url(img/top.gif);
	background-repeat: no-repeat;
	background-position: center center;
	height: 26px;
	width: 964px;
}
#logo {
	background-color: #FFFFFF;
	background-image: url(img/logo.gif);
	background-repeat: no-repeat;
	background-position: left center;
	height: 74px;
	width: 964px;
}
#banner {
	background-color: #a5dd3d;
	background-image: url(img/banner.gif);
	background-repeat: no-repeat;
	background-position: center center;
	height: 303px;
	width: 964px;
}
#vi {
	background-color: #7fb54b;
	background-image: url(img/vi.gif);
	background-repeat: no-repeat;
	background-position: center center;
	height: 48px;
	width: 964px;
	font-size: 13px;
	font-style: italic;
}
#vi a {
	font-family: "宋体";
	font-style: normal;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}
#vi ul {
	margin-top: 16px;
	margin-left: 20px;
}
#kong2 {
	background-color: #F2F2F2;
	height: 20px;
	width: 964px;
	margin-top: 20px;
}
#mid04 li {
	float: left;
	list-style-type: none;
	margin-right: 26px;
}
#mid04 ul {
	margin-left: 15px;
	color: #4A8640;
}
#mid04 p {
	padding-left: 15px;
	margin-top: 10px;
}

#main {
	height: auto;
	width: 964px;
}


#vi-kong {
	background-image: url(img/vi-kong.gif);
	height: 20px;
	width: 964px;
}
#foot {
	height: 135px;
	width: 964px;
	background-image: url(img/foot-logo.gif);
	background-repeat: no-repeat;
	background-position: left center;
}
#foot-text ul {
	margin-left: 0px;
	width: 680px;
	text-align: left;
	margin-top: 15px;
}
#foot-text a {
	font-family: "宋体";
	font-size: 12px;
	color: #848484;
	text-decoration: none;
}

#foot-text {
	height: 75px;
	width: 680px;
	margin-left: 284px;
	border-left:1px solid #999999;
	margin-top: 20px;
	margin-bottom: 10px;
	padding-left: 20px;
	color: #848484;
	padding-top: 10px;
}
#top li{
	color: #FFFFFF;
	margin-top: 3px;
	margin-left: 5px;
	float: left;
	list-style-type: none;
}
#vi li{
	color: #FFFFFF;
	font-size:13px;
	margin-top: 3px;
	margin-left: 5px;
	float: left;
	list-style-type: none;
}
#foot-text li {
	clear: left;
	color: #848484;
	font-size: 12px;
	list-style-type: none;
	margin-left: 0px;
	width: 680px;
	margin-top: 8px;
	height: auto;
}

#top ul {
	margin-left: 750px;
	font-size: 14px;
}

#top a {
	font-family: "华文楷体", "宋体";
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
}
#left {
	height: 524px;
	width: 215px;
	float: left;
}
#mid {
	height: 524px;
	width: 479px;
	float: left;
	margin-left: 14px;
}
#left01 {
	background-image: url(img/denglu-bg.gif);
	background-repeat: no-repeat;
	height: 245px;
	width: 215px;
	background-position: left center;
}
#left02 {
	height: auto;
	width: 203px;
	margin-top: 24px;
	margin-left: 12px;
	font-family: "华文行楷", "宋体";
	font-size: 18px;
	color: #333333;
	font-weight: bold;
	margin-bottom: 24px;
}
#left02 p {
	margin-top: 0px;
	font-size: 15px;
}
#mid03 li {
	list-style-position: inside;
	list-style-type: disc;
}
span {
	margin-left: 40px;
}
#mid03 ul {
	margin-top: 10px;
	line-height: 20px;
}

p img {
	margin-top: 25px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 28px;
}
#left03 {
	height: auto;
	width: 193px;
	color: #000000;
	font-size: 12px;
	margin-left: 12px;
	vertical-align: middle;
	margin-top: 10px;
}
#left03 li {
	margin-top: 4px;
	float: left;
	width: auto;
	list-style-type: none;
}
#left03 ul {
	width: 193px;
	margin-left: 10px;
	height: auto;
	margin-top: 10px;
}
hr {
	color:#CCCCCC; border:1px dashed;
}


h2 {
	height: auto;
	width: 203px;
	font-family: "宋体";
	font-size: 14px;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #999999;
	color: #333333;
}



#left02 img {
	float: left;
}
#mid table {
	margin-left: 15px;
	margin-top: 10px;
}
#mid03 img {
	margin-right: 10px;
	margin-left: 15px;
	float: left;
	height: auto;
	width: auto;
}


#right {
	float: left;
	height: 524px;
	width: 197px;
	margin-left: 14px;
}
#mid03 p {
	color: #4A8640;
}
.s1 {
	text-align: right;
	width: 479px;
	margin-left: 390px;
	color: #4A8640;
}
a,a:visited {
	color: #000000;
}
#right01 {
	height: auto;
	width: 209px;
}
#right01-1 {
	height: 12px;
	width: 209px;
}
#right01-2 {
	height: 12px;
	width: 209px;
}
#right01-00 {
	height: 200px;
	width: 207px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #e7e6e3;
	border-left-color: #e7e6e3;
	margin: 0px;
}

a:hover{

font-weight:bold;}
#right01-00 li {
	list-style-position: inside;
	list-style-type: disc;
	color: #5A5A5A;
	margin-top: 5px;
}
#right02-1 {
	height: 12px;
	width: 209px;
}
#right02-2 {
	height: 12px;
	width: 209px;
}
#right02-00 {
	height: 310px;
	width: 207px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #e7e6e3;
	border-left-color: #e7e6e3;
	background-image: url(img/e.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
}
#right02 {
	height: auto;
	width: 209px;
	margin-top: 10px;
	color: #666666;
}

#mid01 {
	height: auto;
	width: 469px;
	padding-top: 10px;
}
h1 {
	font-size: 14px;
	font-weight: normal;
	height: auto;
	width: 469px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
	margin-top: 10px;
	color: #333333;
}
.rr {
	margin-left: 350px;
}
.rr2 {
	margin-left: 80px;
}
.rr3 {
	margin-left: 65px;
}
a img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

p {
	text-indent: 2em;
	font-size: 12px;
	width: auto;
	padding-right: 10px;
	margin-top: 10px;
}
#right02-00 ul {
	margin-left: 20px;
	margin-top: 5px;
}
#left01-1 {
	height: 65px;
	width: 120px;
	margin-top: 79px;
	margin-left: 15px;
	float: left;
}
#left01-3 {
	width: 154px;
	height: 71px;
	margin-left: 30px;
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #999999;
	padding-top: 10px;
}
h4 {
	font-size: 14px;
	font-weight: normal;
	text-align: center;
	background-image: url(img/dl-bg.gif);
	background-repeat: no-repeat;
	height: 22px;
	width: 65px;
	float: left;
	margin-left: 5px;
	vertical-align: middle;
	margin-top: 10px;
	padding-top: 4px;
}

#left01-2 {
	float: left;
	height: 65px;
	width: 40px;
	margin-top: 79px;
}
#right02-00 li {
	list-style-type: none;
}

h1 img {
	margin-right: 5px;
}
h2 img {
	margin-right: 5px;
}



#left {
	float: left;
	height: auto;
	width: 215px;
}
#mid {
	float: left;
	height: auto;
	width: 479px;
	margin-left: 14px;
}
#right {
	height: auto;
	width: 209px;
	float: left;
}
#mid01 img {
	float: left;
	width: auto;
	margin-left: 10px;
	margin-right: 10px;
	height: auto;
}
#main02 {
	height: auto;
	width: 469px;
	padding-top: 10px;
}
#photo {
	height: 130px;
	width: 964px;
	background-color: #f7fef4;
}
#photo img {
	margin-top: 13px;
	margin-left: 40px;
}
#photo1 {
	height: 16px;
	width: 964px;
	background-color: #f7fef4;
}
#right01-00 a {
	text-decoration: none;
}
#mid  td a {
	text-decoration: none;
}
#mid  td a:hover{ font-weight:normal;}  #left01-3 h4 a {
	text-decoration: none;
}
#vi a:hover {
	font-size: 14px;
}
